@model JoinViewModel

<div class="display-6 text-primary">
    <h1>@Model.Invitation.EventName</h1>
    <span class="text-danger">Tarih:<span> @Model.Invitation.EventDate.ToShortDateString()</span></span>
    <span class="ms-4">Katılımcı Sayısı : <span class="text-dark">@Model.CountOfParticipants</span></span>
</div>

<div class="mt-5">
    <form asp-controller="Home" asp-action="Ahmet" method="post">
        <input type="hidden" name="InvitationId" value="@Model.Invitation.Id" />
        <div class="mb-3">
            <label asp-for=@Model.Participant.FullName class="form-label"></label>
            <input asp-for=@Model.Participant.FullName class="form-control" />
            <span class="text-danger" asp-validation-for=@Model.Participant.FullName></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Participant.Email" class="form-label">Email</label>
            <input asp-for="@Model.Participant.Email" class="form-control"  type="email" />
            <span class="text-danger" asp-validation-for="@Model.Participant.Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Participant.PhoneNumber" class="form-label">Telefon Numarası</label>
            <input asp-for="@Model.Participant.PhoneNumber" class="form-control"  type="text" />
            <span class="text-danger" asp-validation-for="@Model.Participant.PhoneNumber"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Participant.Age" class="form-label"></label>
            <input asp-for="@Model.Participant.Age" class="form-control"  type="number" />
            <span class="text-danger" asp-validation-for="@Model.Participant.Age"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Participant.NumberOfPeople" class="form-label">Kaç Kişi Katılacaksınız?</label>
            <input asp-for="@Model.Participant.NumberOfPeople" class="form-control"  type="number" />
            <span class="text-danger" asp-validation-for="@Model.Participant.NumberOfPeople"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Katıl</button>
        </div>
    </form>
</div>